:root{
    --heading-background-color: rgb(197, 213, 234);
    --heading-text-color: #001b39;
    --heading-font: "Roboto", Arial, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgba(0,0,0,0.1);}
section{
    padding: auto;
    width: 100%;}
main {
	max-width: 80%;
	margin: 1rem auto;
	font-family: "Roboto", Arial, sans-serif;
    background-color: var(--heading-background-color);
    text-align: justify;
    grid-column: 2/3;
}
.footer {
	display: flex;
    float: right;
    position:static;
	bottom: 0;
	margin: 0 auto;
	border-top: 1px solid #000;
	padding: 0.5rem;
	color: navy;
	font-weight: 700;
	font-style: normal;
    image-resolution: 1rem;
    max-width: 840px;
}
    
body {display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
    height: 100%;
    background-color: rgb(161, 188, 246);}
h1{
    color: rgb(96, 56, 4);
    align-content: center;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: var(--heading-font);
}
h2{
    color: #084460;
    position: relative;
    align-content: center;
}
.hero{
    display:grid;
    grid-template-rows: max-content;
    align-items: end;
    border: #000;
    background-color: #606e74;
}
header {
	border-bottom: 1px solid #ccc;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: auto;
	height: auto;
    float: left;
}
nav {
	text-align: right;
}

.navigation {
	display: flex;
	list-style: none;
}

.navigation li {
	flex: 2 2 100%;
    justify-content:space-evenly;
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
.hero img{
    width: 300px;
    height: 200px;
    align-content: center;
    float: left;
}
header, footer, .grid{
    margin: 0 auto;
}
.grid{
    display: grid;
    align-items: center;
}
nav a {color:#fdfdfd;
display: inline;
padding: 10px;
font-size: 1.2rem;
font-weight: 700;
text-decoration: none;
}
figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 200px;
    margin: auto;
  }
  
  img {
    max-width: 200px;
    max-height: auto;
  }
  
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;}
.adventure{
    display: inline-flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
